body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: red;
}

h2 {
    color: brown;
}

p {
    color: blue;
}

#inputOne {
    margin: 25px;
}

#inputTwo {
    margin: 50px;
}

footer {
    color: coral;
}